<%- include('./partials/header.ejs') %>

<div class="container">
    <h1>Enjoy a random cat</h1>
     <img id="photo" src="https://thecatapi.com/api/images/get?format=src&type=gif" alt="">
  </div>
  

<%- include('./partials/footer.ejs') %>