<%- include('./partials/header.ejs') %>


<blockquote class="blockquote text-center">
    <p class="mb-0">This website is for personal amusement.</p>
    <p class="mb-0">I salute you for finding my website!</p>
</blockquote>


<%- include('./partials/footer.ejs') %>