<%- include('./partials/header.ejs') %>


<blockquote class="blockquote text-center">
    <p class="mb-0">This website is for registering moods for morning and evening.</p>
    <p class="mb-0">The project is part of Aalto University's web software development course and is intended for job hunting</p>
</blockquote>


<%- include('./partials/footer.ejs') %>